@model IEnumerable<E_MigrationTecSolution2021.Models.OfServicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Estados de servicios </h1>
<p>
    <a asp-action="Create">Create</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-action-no-color">
        <p>
            Find By name :<input type="text" name="Busqueda" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn-btn-success">
            <a asp-action="Index"> Back to list </a>

        </p>
    </div>

</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDelServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximoNumeroDeMigrantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoServicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDelServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximoNumeroDeMigrantes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeFinalizacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoServicio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
